button {
	color: inherit;
	background-color: inherit;
}

body {
	background: #FFFFFF;
	color: #263238;
}

.button {
	background-color: #008000;
	color: #FFFFFF;
}

.button:hover {
	background-color: #299529;
}

.button_transparent {
	border: 1px solid #263238;
	background-color: transparent;
	transition: all 0.3s ease 0s;
}

.button_transparent:hover {
	background-color: #008000;
	color: #FFFFFF;
	border: transparent;
}

.form {
	background: rgba(38, 50, 56, 0.1);
}

.header.header-scroll {
	background-color: #d7d7d7f3;
}

.footer {
	background: rgba(242, 248, 242, 0.5);
}

.top-footer {
	border-bottom: 1px solid rgba(38, 50, 56, 0.31);
}

.social__item {
	background: #008000;
}

.steps-how__icon {
	background: rgba(0, 128, 0, 0.1);
}

.image-block {
	background: rgba(0, 128, 0, 0.05);
}

.image-block::after,
.image-block::before {
	border: 1px solid #008000;
}

.image-block-2 {
	background: rgba(0, 128, 0, 0.05);
}

.image-block-2::after,
.image-block-2::before {
	border: 1px solid #008000;
}

.spollers-pathway__title {
	background: rgba(0, 128, 0, 0.05);
}

.spollers-pathway__body {
	background: rgba(0, 130, 0, 0.025);
}

.figures__item::before {
	background: rgba(0, 128, 0, 0.1);
	color: #008000;
}

.item-customers {
	background: rgba(0, 128, 0, 0.05);
}

.download__body {
	background: rgba(0, 128, 0, 0.05);
}

.download__body::before,
.download__body::after {
	border: 1px solid #008000;
}

.icon-menu span,
.icon-menu::before,
.icon-menu::after {
	background-color: #263238;
}

.title span {
	color: #008000;
}

.form__input {
	background: rgba(38, 50, 56, 0.1);
	border-radius: 10px;
}

.form__input::-webkit-input-placeholder {
	color: #263238;
}

.form__input::-moz-placeholder {
	color: #263238;
}

.form__input:-ms-input-placeholder {
	color: #263238;
}

.form__input::-ms-input-placeholder {
	color: #263238;
}

.form__input::placeholder {
	color: #263238;
}

.menu__link:hover {
	color: #008000;
}

.main-block__container-big::before,
.main-block__container-big::after {
	border: 1px solid #008000;
}

.icons-main-block__image {
	filter: invert(45%);
}

.partners__image {
	filter: invert(100%);
}

.social__image {
	filter: hue-rotate(50deg);
}

@media (max-width: 767.98px){
	.menu__body {
		background-color: #FFFFFF;
	}
	.menu__body::before {
		background-color: #FFFFFF;
	}
}

.top-footer__image {
	filter: invert(100%);
}

/* slider */


.btn-prev,
.btn-next {
	background-color: rgba(38, 50, 56, 0.6784313725);
}

.btn-prev:hover,
.btn-next:hover {
	background-color: rgba(38, 50, 56, 0.8745098039);
}

/* Кружочки */

.slider-dots__item {
	background-color: rgba(38, 50, 56, 0.8745098039);
}

.slider-dots__item:hover {
	background-color: #008000;
}

.slider-dots .active {
	background-color: #008000;
}