button {
	color: inherit;
	background-color: inherit;
}

body {
	background: #263238;
	color: #FFF;
}

.button {
	background-color: #23B123;
}

.button:hover {
	background-color: #299529;
}

.button_transparent {
	border: 1px solid #FFFFFF;
	background-color: transparent;
}

.button_transparent:hover {
	background-color: #fff;
	color: #23B123;
}

.form {
	background: #FFFFFF;
}

.header.header-scroll {
	background-color: rgba(34, 43, 47, 0.9921568627);
}

.footer {
	background: rgba(53, 64, 70, 0.5);
}

.social__item {
	background: #FFFFFF;
}

.steps-how__icon {
	background: rgba(0, 128, 0, 0.1);
}

.image-block {
	background: rgba(255, 255, 255, 0.05);
}

.image-block-2 {
	background: rgba(255, 255, 255, 0.05);
}

.spollers-pathway__title {
	background: rgba(255, 255, 255, 0.05);
}

.spollers-pathway__body {
	background: rgba(255, 255, 255, 0.009);
}

.figures__item::before {
	background-color: rgba(255, 255, 255, 0.05);
	color: #fff;
}

.item-customers {
	background: rgba(255, 255, 255, 0.05);
}

.download__body {
	background: rgba(255, 255, 255, 0.07);
}

.icon-menu span,
.icon-menu::before,
.icon-menu::after {
	background-color: #fff;
}

.title span {
	color: #23B123;
}

.form__input {
	color: #263238;
}

.form__input::-webkit-input-placeholder {
	color: #263238;
}

.form__input::-moz-placeholder {
	color: #263238;
}

.form__input:-ms-input-placeholder {
	color: #263238;
}

.form__input::-ms-input-placeholder {
	color: #263238;
}

.form__input::placeholder {
	color: #263238;
}

.menu__link:hover {
	color: #23B123;
}


.menu__body {
	background: #263238;
}

.menu__body::before {
	background: #263238;
}